
<head>
<style>

p.border {border-style: double;}
#border  {border-style: double;}

h1 {



    border: 4mm ridge rgba(24, 204, 180, 0.6);
    font-family:Helvetica
    
  }
  <p> 
  {             

      color: rgb(149, 214, 19);

  }

  <li> { 

    color: rgb(149, 214, 19);

  }
</style>
</head>
<body>

body {
    background-color: lightblue;
  }

  <li> { 

    color: rgb(149, 214, 19);

  }
  
  <p> 
  {             

      color: rgb(149, 214, 19);

  }
  <div p> 
  {             

      color: rgb(149, 214, 19);

  }


  h1 {
    color: rgb(194, 246, 90);
    margin-left: 20px;
  }





</body>



